<div class="nav-app fixed flex justify-center w-full">
    <div class="container flex justify-between items-center space-x-6 pt-10 pb-10">
        <div class="flex space-x-20 items-center">
            <a routerLink="/dashboard">
                <img ngSrc="/logo/white/logo_horizontal_white_bold.svg" alt="logo" width="120" height="50"
                     priority/>
            </a>
            <div class="flex flex-row space-x-6">
                <a routerLink="/">Transazioni</a>
                <a routerLink="/">Abbonamenti</a>
                <a routerLink="/">Investimenti</a>
                <a routerLink="/">Report</a>
            </div>
        </div>
        <div class="hidden items-center space-x-6 lg:flex">
            <div class="popover-container relative">
                <div (click)="popover.toggleVisibility()" class="user-box">
                    <p>Davide Tarditi</p>
                </div>

                <popover #popover>
                    <div class="flex flex-col space-y-5">
                        <div class="space-y-2">
                            <p class="font-bold">Davide Tarditi</p>
                            <p class="small font-bold sub">dt.davide.tarditi&#64;gmail.com</p>
                        </div>
                        <hr/>
                        <div class="space-y-2">
                            <a class="flex items-center space-x-2 w-full" href="/settings">
                                <i class="ri-settings-2-line"></i>
                                <p>Impostazioni</p>
                            </a>
                            <a class="flex items-center space-x-2 w-full danger-all" href="/logout">
                                <i class="ri-logout-box-line"></i>
                                <p>Esci</p>
                            </a>
                        </div>
                        <hr>
                        <div class="flex space-x-2">
                            <p class="sub small">Poveroh &#64; 2024</p>
                            <p class="sub small">&bull;</p>
                            <p class="sub small">v1.0.0</p>
                        </div>
                    </div>
                </popover>
            </div>
        </div>
    </div>
</div>
<div class="w-full flex justify-center">
    <div class="container pt-40 pb-20">
        <router-outlet></router-outlet>
    </div>
</div>