<div class="nav-app fixed flex justify-center w-full">
    <div class="container flex justify-between items-center space-x-6 pt-10 pb-10">
        <div class="flex space-x-20 items-center">
            <a routerLink="/dashboard">
                <img ngSrc="/logo/white/logo_horizontal_white_bold.svg" alt="logo" width="120" height="50"
                     priority />
            </a>
            <div class="flex flex-row space-x-6">
                <a routerLink="/transactions">{{ 'transactions.title' | translate }}</a>
                <a routerLink="/">{{ 'subscriptions.title' | translate }}</a>
                <a routerLink="/">{{ 'investments.title' | translate }}</a>
                <a routerLink="/">{{ 'reports.title' | translate }}</a>
            </div>
        </div>
        <div class="hidden items-center space-x-6 lg:flex">
            <div class="popover-container relative">
                <div class="user-box" mat-button [matMenuTriggerFor]="accountPopover">
                    <p>{{ userService.fullName() }}</p>
                </div>

                <mat-menu #accountPopover xPosition="before">
                    <div class="flex flex-col space-y-5 w-[200px]">
                        <div class="space-y-2">
                            <p class="font-bold">{{ userService.fullName() }}</p>
                            <p class="font-bold sub">{{ user?.email }}</p>
                        </div>
                        <hr />
                        <div class="flex flex-col space-y-5">
                            <a class="flex items-center space-x-2 w-full" href="/settings">
                                <mat-icon aria-label="icon" fontIcon="settings"></mat-icon>
                                <p>{{ 'settings.title' | translate }}</p>
                            </a>
                            <a class="flex items-center space-x-2 w-full danger-all" href="/logout">
                                <mat-icon aria-label="icon" fontIcon="logout"></mat-icon>
                                <p>{{ 'logout.title' | translate }}</p>
                            </a>
                        </div>
                        <hr>
                        <div class="flex space-x-2">
                            <p class="sub small">Poveroh &#64; 2024</p>
                            <p class="sub small">&bull;</p>
                            <p class="sub small">v1.0.0</p>
                        </div>
                    </div>
                </mat-menu>
            </div>
        </div>
    </div>
</div>
<div class="w-full flex justify-center">
    <div class="container pt-40 pb-20">
        <router-outlet></router-outlet>
    </div>
</div>
