# See https://docs.github.com/get-started/getting-started-with-git/ignoring-files for more about ignoring files.

# Compiled output
/dist
/tmp
/out-tsc
/bazel-out

# dependencies
node_modules
/node_modules
npm-debug.log
yarn-error.log
package-lock.json

# Pisma
/apps/api/src/prisma/migrations
!/apps/api/src/prisma/migrations

# IDEs and editors
.idea/
.project
.classpath
.c9/
*.launch
.settings/
*.sublime-workspace

# Visual Studio Code
.vscode
.vscode/*
!.vscode/settings.json
!.vscode/tasks.json
!.vscode/launch.json
!.vscode/extensions.json
.history/*

# Miscellaneous
/.angular/cache
.sass-cache/
/connect.lock
/coverage
/libpeerconnection.log
testem.log
/typings

# System files
.DS_Store
Thumbs.db

# Nx
.nx/cache
.nx/workspace-data

#Angular
.angular

#Env
*.env
!*.env
/apps/api/.env
!/apps/api/.env
/apps/api/*.env
!/apps/api/*.env
!/apps/web/src/environments/
