<button type="submit" class="form-input button" [formNoValidate]="validate" [ngClass]="size" [class]="mode" [class.loading]="loading"
        [disabled]="disabled">
    <span class="loader"></span>
    <div class="flex space-x-1 justify-center items-center"
         *ngIf="!loading"
         [ngClass]="{ 'flex-row-reverse space-x-reverse': iconReverse }">
        <mat-icon aria-label="icon" class="font-bold" [class.fc-white]="getIconColor()" *ngIf="icon" [fontIcon]="icon"></mat-icon>
        <p class="font-bold">{{ message }}</p>
    </div>
</button>
