<!--@switch (type) {-->
<!--    @case ('transaction') {-->
<!--        <div class="flex flex-row justify-between w-full">-->
<!--            <div class="flex flex-row items-center space-x-5">-->
<!--                <div class="brands bg-[url('/brands/netflix.svg')]"></div>-->
<!--                <div>-->
<!--                    <p>{{ data.name }}</p>-->
<!--                    <p class="sub">{{ data.bankAccount }}</p>-->
<!--                </div>-->
<!--            </div>-->
<!--            <div class="flex flex-col items-end">-->
<!--                <div class="flex flex-row space-x-1 items-center">-->
<!--                    <p class="danger">-</p>-->
<!--                    <p class="font-bold">{{ renderCurrency(data.currency) }} {{ data.amount }}</p>-->
<!--                </div>-->
<!--                <p class="sub">{{ data.date }}</p>-->
<!--            </div>-->
<!--        </div>-->
<!--    }-->
<!--}-->


<!--<div class="flex flex-row justify-between w-full">-->
<!--    <div class="flex flex-row items-center space-x-5">-->
<!--        <div class="brands bg-[url('/brands/netflix.svg')]"></div>-->
<!--        <div>-->
<!--            <p>{{ data.name }}</p>-->
<!--            <p class="sub">{{ data.bankAccount }}</p>-->
<!--        </div>-->
<!--    </div>-->
<!--    <div class="flex flex-col items-end">-->
<!--        <div class="flex flex-row space-x-1 items-center">-->
<!--            <p class="danger">-</p>-->
<!--            <p class="font-bold">{{ renderCurrency(data.currency) }} {{ data.amount }}</p>-->
<!--        </div>-->
<!--        <p class="sub">{{ data.date }}</p>-->
<!--    </div>-->
<!--</div>-->