<add-transactions-modal [visible]="visibleManualInsertModal"
                        (onCancel)="toogleVisible('manual', $event)"></add-transactions-modal>

<upload-transactions-modal [visible]="visibleManualUploadModal"
                           (onCancel)="toogleVisible('upload', $event)"></upload-transactions-modal>

<div class="space-y-12">
    <div class="flex flex-row items-center justify-between">
        <h2>Transazioni</h2>
        <div class="flex flex-row items-center space-x-3 fc-white">
            <p-overlayPanel #exportPopover>
                <div class="flex flex-col space-y-5">
                    <div class="flex items-center space-x-2 w-full">
                        <i class="ri-gallery-view-2"></i>
                        <p>Esporta tutti</p>
                    </div>
                    <hr>
                    <div class="flex items-center space-x-2 w-full">
                        <i class="ri-gallery-view"></i>
                        <p>Exporta filtrati</p>
                    </div>
                </div>
            </p-overlayPanel>

            <p-overlayPanel #importPopover>
                <div class="flex flex-col space-y-5">
                    <div class="flex items-center space-x-2 w-full cursor-pointer"
                         (click)="toogleVisible('upload', true)">
                        <i class="ri-upload-line"></i>
                        <p>Importa da file</p>
                    </div>
                    <hr>
                    <div class="flex items-center space-x-2 w-full cursor-pointer"
                         (click)="toogleVisible('manual', true)">
                        <i class="ri-add-line"></i>
                        <p>Inserisci manualmente</p>
                    </div>
                </div>
            </p-overlayPanel>

            <go-button mode="outline" icon="ri-download-line" message="Esporta"
                       (click)="exportPopover.toggle($event)"></go-button>
            <go-button icon="ri-add-line" message="Inserisci"
                       (click)="importPopover.toggle($event)"></go-button>
        </div>
    </div>

    <div class="flex flex-col w-[500px]">
        <field-input
                id="search"
                placeholder="Amazon, Revolut, 15.07 ..."
                [type]="FieldType.TEXT"
                [control]="form.get('search')!"
        ></field-input>
    </div>

    <div class="flex flex-col space-y-5">
        <h4>26 ottobre</h4>
        <box-layout>
            <ng-template #body>
                <div class="flex flex-col space-y-5 w-full">
                    <div class="flex flex-row justify-between w-full">
                        <div class="flex flex-row items-center space-x-5">
                            <div class="brands bg-[url('/brands/spotify.svg')]"></div>
                            <div>
                                <p>Spotify</p>
                                <p class="sub">Revolut</p>
                            </div>
                        </div>
                        <div class="flex flex-col items-end">
                            <div class="flex flex-row space-x-1 items-center">
                                <p class="danger">-</p>
                                <p>&euro; 14.99</p>
                            </div>
                            <p class="sub">26 ott, 14:02</p>
                        </div>
                    </div>
                    <hr>
                    <div class="flex flex-row justify-between w-full">
                        <div class="flex flex-row items-center space-x-5">
                            <div class="brands bg-[url('/brands/amazon.svg')]"></div>
                            <div>
                                <p>Amazon</p>
                                <p class="sub">Revolut</p>
                            </div>
                        </div>
                        <div class="flex flex-col items-end">
                            <div class="flex flex-row space-x-1 items-center">
                                <p class="danger">-</p>
                                <p>&euro; 14.99</p>
                            </div>
                            <p class="sub">26 ott, 14:02</p>
                        </div>
                    </div>
                    <hr>
                    <div class="flex flex-row justify-between w-full">
                        <div class="flex flex-row items-center space-x-5">
                            <div class="brands bg-[url('/brands/netflix.svg')]"></div>
                            <div>
                                <p>Netflix</p>
                                <p class="sub">Revolut</p>
                            </div>
                        </div>
                        <div class="flex flex-col items-end">
                            <div class="flex flex-row space-x-1 items-center">
                                <p class="danger">-</p>
                                <p>&euro; 14.99</p>
                            </div>
                            <p class="sub">26 ott, 14:02</p>
                        </div>
                    </div>
                    <hr>
                    <div class="flex flex-row justify-between w-full">
                        <div class="flex flex-row items-center space-x-5">
                            <div class="brands bg-[url('/brands/netflix.svg')]"></div>
                            <div>
                                <p>Netflix</p>
                                <p class="sub">Revolut</p>
                            </div>
                        </div>
                        <div class="flex flex-col items-end">
                            <div class="flex flex-row space-x-1 items-center">
                                <p class="danger">-</p>
                                <p>&euro; 14.99</p>
                            </div>
                            <p class="sub">26 ott, 14:02</p>
                        </div>
                    </div>
                </div>
            </ng-template>
        </box-layout>
        <h4>26 ottobre</h4>
        <box-layout>
            <ng-template #body>
                <div class="flex flex-col space-y-5 w-full">
                    <div class="flex flex-row justify-between w-full">
                        <div class="flex flex-row items-center space-x-5">
                            <div class="brands bg-[url('/brands/spotify.svg')]"></div>
                            <div>
                                <p>Spotify</p>
                                <p class="sub">Revolut</p>
                            </div>
                        </div>
                        <div class="flex flex-col items-end">
                            <div class="flex flex-row space-x-1 items-center">
                                <p class="danger">-</p>
                                <p>&euro; 14.99</p>
                            </div>
                            <p class="sub">26 ott, 14:02</p>
                        </div>
                    </div>
                    <hr>
                    <div class="flex flex-row justify-between w-full">
                        <div class="flex flex-row items-center space-x-5">
                            <div class="brands bg-[url('/brands/amazon.svg')]"></div>
                            <div>
                                <p>Amazon</p>
                                <p class="sub">Revolut</p>
                            </div>
                        </div>
                        <div class="flex flex-col items-end">
                            <div class="flex flex-row space-x-1 items-center">
                                <p class="danger">-</p>
                                <p>&euro; 14.99</p>
                            </div>
                            <p class="sub">26 ott, 14:02</p>
                        </div>
                    </div>
                    <hr>
                    <div class="flex flex-row justify-between w-full">
                        <div class="flex flex-row items-center space-x-5">
                            <div class="brands bg-[url('/brands/netflix.svg')]"></div>
                            <div>
                                <p>Netflix</p>
                                <p class="sub">Revolut</p>
                            </div>
                        </div>
                        <div class="flex flex-col items-end">
                            <div class="flex flex-row space-x-1 items-center">
                                <p class="danger">-</p>
                                <p>&euro; 14.99</p>
                            </div>
                            <p class="sub">26 ott, 14:02</p>
                        </div>
                    </div>
                    <hr>
                    <div class="flex flex-row justify-between w-full">
                        <div class="flex flex-row items-center space-x-5">
                            <div class="brands bg-[url('/brands/netflix.svg')]"></div>
                            <div>
                                <p>Netflix</p>
                                <p class="sub">Revolut</p>
                            </div>
                        </div>
                        <div class="flex flex-col items-end">
                            <div class="flex flex-row space-x-1 items-center">
                                <p class="danger">-</p>
                                <p>&euro; 14.99</p>
                            </div>
                            <p class="sub">26 ott, 14:02</p>
                        </div>
                    </div>
                </div>
            </ng-template>
        </box-layout>
        <h4>26 ottobre</h4>
        <box-layout>
            <ng-template #body>
                <div class="flex flex-col space-y-5 w-full">
                    <box-item></box-item>

                    <div class="flex flex-row justify-between w-full">
                        <div class="flex flex-row items-center space-x-5">
                            <div class="brands bg-[url('/brands/spotify.svg')]"></div>
                            <div>
                                <p>Spotify</p>
                                <p class="sub">Revolut</p>
                            </div>
                        </div>
                        <div class="flex flex-col items-end">
                            <div class="flex flex-row space-x-1 items-center">
                                <p class="danger">-</p>
                                <p>&euro; 14.99</p>
                            </div>
                            <p class="sub">26 ott, 14:02</p>
                        </div>
                    </div>
                    <hr>
                    <div class="flex flex-row justify-between w-full">
                        <div class="flex flex-row items-center space-x-5">
                            <div class="brands bg-[url('/brands/amazon.svg')]"></div>
                            <div>
                                <p>Amazon</p>
                                <p class="sub">Revolut</p>
                            </div>
                        </div>
                        <div class="flex flex-col items-end">
                            <div class="flex flex-row space-x-1 items-center">
                                <p class="danger">-</p>
                                <p>&euro; 14.99</p>
                            </div>
                            <p class="sub">26 ott, 14:02</p>
                        </div>
                    </div>
                    <hr>
                    <div class="flex flex-row justify-between w-full">
                        <div class="flex flex-row items-center space-x-5">
                            <div class="brands bg-[url('/brands/netflix.svg')]"></div>
                            <div>
                                <p>Netflix</p>
                                <p class="sub">Revolut</p>
                            </div>
                        </div>
                        <div class="flex flex-col items-end">
                            <div class="flex flex-row space-x-1 items-center">
                                <p class="danger">-</p>
                                <p>&euro; 14.99</p>
                            </div>
                            <p class="sub">26 ott, 14:02</p>
                        </div>
                    </div>
                    <hr>
                    <div class="flex flex-row justify-between w-full">
                        <div class="flex flex-row items-center space-x-5">
                            <div class="brands bg-[url('/brands/netflix.svg')]"></div>
                            <div>
                                <p>Netflix</p>
                                <p class="sub">Revolut</p>
                            </div>
                        </div>
                        <div class="flex flex-col items-end">
                            <div class="flex flex-row space-x-1 items-center">
                                <p class="danger">-</p>
                                <p>&euro; 14.99</p>
                            </div>
                            <p class="sub">26 ott, 14:02</p>
                        </div>
                    </div>
                </div>
            </ng-template>
        </box-layout>
    </div>

</div>

