<form [formGroup]="form" (ngSubmit)="onSubmit()" class="flex flex-row">
    <div class="flex flex-col w-1/4 p-5 space-y-6">
        <field-input
                id="email"
                label="E-mail"
                [type]="FieldType.EMAIL"
                [control]="form.get('email')!"
        ></field-input>

        <field-input
                id="password"
                label="Password"
                [type]="FieldType.PASSWORD"
                [control]="form.get('password')!"
        ></field-input>

        <field-input
                id="phone"
                label="Phone"
                [type]="FieldType.PHONE"
                [control]="form.get('phone')!"
        ></field-input>

        <field-input
                id="text"
                label="Text"
                [type]="FieldType.TEXT"
                [control]="form.get('text')!"
        ></field-input>

        <field-input
                id="sel"
                label="Select"
                [type]="FieldType.SELECT"
                [options]="countryOptions"
                [control]="form.get('select')!"
        ></field-input>

        <field-input
                id="number"
                label="Number"
                [min]="0"
                [max]="50"
                [step]="0.5"
                [type]="FieldType.NUMBER"
                [control]="form.get('number')!"
        ></field-input>

        <div class="flex flex-row space-x-2">
            <field-input
                    id="amount"
                    label="Amount"
                    class="w-3/4"
                    [type]="FieldType.MONEY"
                    [control]="form.get('amount')!"
            ></field-input>

            <field-input
                    id="currency"
                    label="Currency"
                    class="w-1/4"
                    [type]="FieldType.CURRENCY"
                    [options]="currencyCatalog"
                    [control]="form.get('currency')!"
            ></field-input>
        </div>

        <field-input
                id="date"
                label="Date"
                [min]="0"
                [max]="50"
                [step]="0.5"
                [type]="FieldType.DATE"
                [control]="form.get('date')!"
        ></field-input>
    </div>
    <div class="flex flex-col w-1/4 p-5 space-y-6">
        <field-input
                id="textarea"
                label="Longarea"
                [type]="FieldType.LONGTEXT"
                [control]="form.get('textarea')!"
        ></field-input>
    </div>
    <div class="flex flex-col space-y-4 p-6 h-fit">
        <div class="flex flex-row space-x-4 h-fit">
            <go-button message="Accedi" size="small"></go-button>
            <go-button message="Accedi" size="mid"></go-button>
            <go-button message="Accedi"></go-button>
        </div>
        <div class="flex flex-row space-x-4 h-fit">
            <go-button message="Accedi" size="small" icon="ri-pencil-fill"></go-button>
            <go-button message="Accedi" size="mid" [iconReverse]="true" icon="ri-pencil-fill"></go-button>
            <go-button message="Accedi"></go-button>
        </div>
        <div class="flex flex-row space-x-4 h-fit">
            <go-button message="Accedi" size="small" [outline]="true" icon="ri-pencil-fill"></go-button>
            <go-button message="Accedi" size="mid" [outline]="true" [iconReverse]="true"
                       icon="ri-pencil-fill"></go-button>
            <go-button message="Accedi" [outline]="true"></go-button>
        </div>
        <div class="flex flex-row space-x-4 h-fit">
            <go-button message="Aggiungi" size="small" icon="ri-add-line"></go-button>
            <go-button message="Aggiungi" size="mid" [iconReverse]="true" icon="ri-add-line"></go-button>
            <go-button message="Aggiungi"></go-button>
        </div>
        <div class="flex flex-row space-x-4 h-fit">
            <go-button message="Aggiungi" size="small" [outline]="true" icon="ri-add-line"></go-button>
            <go-button message="Aggiungi" size="mid" [outline]="true" [iconReverse]="true"
                       icon="ri-add-line"></go-button>
            <go-button message="Aggiungi" [outline]="true"></go-button>
        </div>
        <div class="flex flex-row space-x-4 h-fit">
            <go-button message="Aggiungi" size="small" icon="ri-add-line" [loading]="true"></go-button>
            <go-button message="Aggiungi" size="mid" [iconReverse]="true" icon="ri-add-line"
                       [loading]="true"></go-button>
            <go-button message="Aggiungi" [loading]="true"></go-button>
        </div>
        <div class="flex flex-row space-x-4 h-fit">
            <go-button message="Aggiungi" size="small" [outline]="true" icon="ri-add-line" [loading]="true"></go-button>
            <go-button message="Aggiungi" size="mid" [outline]="true" [iconReverse]="true" icon="ri-add-line"
                       [loading]="true"></go-button>
            <go-button message="Aggiungi" [outline]="true" [loading]="true"></go-button>
        </div>
        <div class="flex flex-row space-x-4 h-fit">
            <button (click)="loading = !loading">Toogle loading</button>
            <go-button message="Aggiungi" size="small" [outline]="true" icon="ri-add-line"
                       [loading]="loading"></go-button>
            <go-button message="Aggiungi" size="mid" [outline]="true" [iconReverse]="true" icon="ri-add-line"
                       [loading]="loading"></go-button>
            <go-button message="Aggiungi" [outline]="true" [loading]="loading"></go-button>
        </div>
    </div>

    <div class="flex flex-col space-y-4 p-6 h-fit">
        <go-button (click)="showDialog()" message="Show" [outline]="true"/>
        <p-dialog [draggable]="false" [dismissableMask]="true" [closeOnEscape]="true" header="Edit Profile"
                  [modal]="true" [(visible)]="visible" [style]="{ width: '25rem' }">
            <span class="p-text-secondary block mb-5">Update your information.</span>
            <div class="flex align-items-center gap-3 mb-3">
                username
            </div>
            <div class="flex align-items-center gap-3 mb-5">
                email
            </div>
            <div class="flex justify-content-end gap-2">
                <go-button message="Ciao" (click)="visible = false"></go-button>
            </div>
        </p-dialog>
    </div>
</form>
