<form [formGroup]="form" (ngSubmit)="onSubmit()" class="flex flex-row">
    <div class="flex flex-col w-1/4 p-5 space-y-6">
        <field-input
                id="email"
                label="E-mail"
                [type]="FieldType.EMAIL"
                [control]="form.get('email')!"
        ></field-input>

        <field-input
                id="password"
                label="Password"
                [type]="FieldType.PASSWORD"
                [control]="form.get('password')!"
        ></field-input>

        <field-input
                id="phone"
                label="Phone"
                [type]="FieldType.PHONE"
                [control]="form.get('phone')!"
        ></field-input>

        <field-input
                id="text"
                label="Text"
                [type]="FieldType.TEXT"
                [control]="form.get('text')!"
        ></field-input>

        <field-input
                id="sel"
                label="Select"
                [type]="FieldType.SELECT"
                [options]="countryOptions"
                [control]="form.get('select')!"
        ></field-input>

        <field-input
                id="number"
                label="Number"
                [min]="0"
                [max]="50"
                [step]="0.5"
                [type]="FieldType.NUMBER"
                [control]="form.get('number')!"
        ></field-input>

        <div class="flex flex-row space-x-2">
            <field-input
                    id="amount"
                    label="Amount"
                    class="w-3/4"
                    [type]="FieldType.MONEY"
                    [control]="form.get('amount')!"
            ></field-input>

            <field-input
                    id="currency"
                    label="Currency"
                    class="w-1/4"
                    [type]="FieldType.CURRENCY"
                    [options]="currencyCatalog"
                    [control]="form.get('currency')!"
            ></field-input>
        </div>

        <field-input
                id="date"
                label="Date"
                [min]="0"
                [max]="50"
                [step]="0.5"
                [type]="FieldType.DATE"
                [control]="form.get('date')!"
        ></field-input>
    </div>
    <div class="flex flex-col w-1/4 p-5 space-y-6">
        <field-input
                id="textarea"
                label="Longarea"
                [type]="FieldType.LONGTEXT"
                [control]="form.get('textarea')!"
        ></field-input>
    </div>
    <div class="flex flex-col space-y-4 p-6 w-[400px]">
        <go-button message="Accedi" [disabled]="true"></go-button>
        <go-button message="Accedi"></go-button>
        <go-button message="Accedi"></go-button>
    </div>
</form>
