<h2 mat-dialog-title>Aggiungi transazione</h2>
<mat-dialog-content>
    <multi-form></multi-form>
</mat-dialog-content>
<mat-dialog-actions>
    <div class="flex flex-row items-center justify-between w-full">
        <field-input
            id="continueinsert"
            label="Continua ad inserire"
            subtitle="Non chiude il modal e permette di inserire altre transazioni"
            [type]="FieldType.BOOLEAN"
            [control]="formManagerModal.get('continueinsert')!"
        ></field-input>
        <div class="flex flex-row justify-between space-x-3">
            <go-button message="Annulla" mode="outline" mat-button mat-dialog-close></go-button>
            <go-button message="Inserisci"></go-button>
        </div>
    </div>
</mat-dialog-actions>
