<div class="form-group flex flex-col h-full space-y-3">
    <p *ngIf="label">
        {{ label }}
        <span *ngIf="required" class="mandatory" aria-label="Campo obbligatorio" data-cooltipz-dir="top">*</span>
    </p>

    <div class="relative" [ngSwitch]="localType">
        <select
                *ngSwitchCase="FieldType.SELECT || FieldType.CURRENCY"
                [id]="id"
                [formControl]="getFormControl()"
                class="form-input dropdown"
                [class.incorrect]="isInvalid"
        >
            <option *ngIf="localType !== FieldType.CURRENCY" disabled value="">
                Seleziona un valore
            </option>
            <option *ngFor="let option of options; let i = index" [value]="option.value"
                    [selected]="!i && localType == FieldType.CURRENCY">
                {{ option.label }}
            </option>
        </select>

        <textarea
                *ngSwitchCase="FieldType.LONGTEXT"
                [id]="id"
                [formControl]="getFormControl()"
                [placeholder]="placeholder"
                rows="5"
                class="form-input"
                [class.incorrect]="isInvalid"
        ></textarea>

        <ng-container *ngSwitchDefault>
            <input
                    [type]="type"
                    [id]="id"
                    [formControl]="getFormControl()"
                    [placeholder]="placeholder"
                    [min]="min"
                    [max]="max"
                    [step]="step"
                    class="form-input"
                    [class.incorrect]="isInvalid"
            >
            <span
                    *ngIf="localType === FieldType.PASSWORD"
                    class="toggle-visibility-password"
                    (click)="toogleVisibility()"
            >
                <i [ngClass]="passwordVisibility ? 'ri-eye-line' : 'ri-eye-off-line'"></i>
            </span>
        </ng-container>
    </div>

    <div *ngIf="isInvalid">
        <p *ngFor="let error of errors" class="danger">{{ error }}</p>
    </div>
</div>
