<div class="space-y-12">
    <div class="flex flex-row items-end justify-between">
        <div class="flex flex-row items-end space-x-6">
            <div class="flex flex-col space-y-3">
                <p class="sub">BILANCIO ATTUALE</p>
                <h1 class="leading-[100%]">$ 126.568,53</h1>
            </div>
            <div class="flex flex-col space-y-1">
                <p class="sub small">USCITE</p>
                <div class="flex flex-row items-center danger-all">
                    <i class="ri-arrow-down-s-fill big"></i>
                    <p>-126.568,53 (0,05%)</p>
                </div>
            </div>
            <div class="flex flex-col space-y-1">
                <p class="sub small">ENTRATE</p>
                <div class="flex flex-row items-center">
                    <i class="ri-arrow-up-s-fill big success"></i>
                    <p class="success">+126.568,53 (1,05%)</p>
                </div>
            </div>
        </div>
        <div class="flex flex-row items-end space-x-6">
            <i class="ri-pencil-fill"></i>
            <i class="ri-restart-line"></i>
        </div>
    </div>

    <div class="flex flex-row space-x-5 w-full">
        <div class="flex flex-col space-y-5 w-full">
            <box-layout title="Trend">
                <ng-template #header>
                    <div class="flex flex-row space-x-3">
                        <go-button message="2022" size="mid" [outline]="true"></go-button>
                        <go-button message="2023" size="mid" [outline]="true"></go-button>
                        <go-button message="2024" size="mid" [outline]="true"></go-button>
                        <go-button message="Max" size="mid"></go-button>
                    </div>
                </ng-template>
                <ng-template #body>
                    <apx-chart
                            class="w-full"
                            [series]="chartOptions.series"
                            [chart]="chartOptions.chart"
                            [xaxis]="chartOptions.xaxis"
                            [title]="chartOptions.title"
                    ></apx-chart>
                </ng-template>
            </box-layout>

            <box-layout title="Prossimi pagamenti">
                <ng-template #header>
                    <!--                    <go-button message="Inserisci" icon="ri-add-line" size="mid"></go-button>-->
                </ng-template>
                <ng-template #body>
                    <div class="flex flex-col space-y-5 w-full">
                        <div class="flex flex-row justify-between w-full">
                            <div class="flex flex-row items-center space-x-5">
                                <div class="brands bg-[url('/brands/spotify.svg')]"></div>
                                <div>
                                    <p>Spotify</p>
                                    <p class="sub">Revolut</p>
                                </div>
                            </div>
                            <div class="flex flex-col items-end">
                                <div class="flex flex-row space-x-1 items-center">
                                    <p class="danger">-</p>
                                    <p>&euro; 14.99</p>
                                </div>
                                <p class="sub">26 ott, 14:02</p>
                            </div>
                        </div>
                        <hr>
                        <div class="flex flex-row justify-between w-full">
                            <div class="flex flex-row items-center space-x-5">
                                <div class="brands bg-[url('/brands/amazon.svg')]"></div>
                                <div>
                                    <p>Amazon</p>
                                    <p class="sub">Revolut</p>
                                </div>
                            </div>
                            <div class="flex flex-col items-end">
                                <div class="flex flex-row space-x-1 items-center">
                                    <p class="danger">-</p>
                                    <p>&euro; 14.99</p>
                                </div>
                                <p class="sub">26 ott, 14:02</p>
                            </div>
                        </div>
                        <hr>
                        <div class="flex flex-row justify-between w-full">
                            <div class="flex flex-row items-center space-x-5">
                                <div class="brands bg-[url('/brands/netflix.svg')]"></div>
                                <div>
                                    <p>Netflix</p>
                                    <p class="sub">Revolut</p>
                                </div>
                            </div>
                            <div class="flex flex-col items-end">
                                <div class="flex flex-row space-x-1 items-center">
                                    <p class="danger">-</p>
                                    <p>&euro; 14.99</p>
                                </div>
                                <p class="sub">26 ott, 14:02</p>
                            </div>
                        </div>
                        <hr>
                        <div class="flex flex-row justify-between w-full">
                            <div class="flex flex-row items-center space-x-5">
                                <div class="brands bg-[url('/brands/netflix.svg')]"></div>
                                <div>
                                    <p>Netflix</p>
                                    <p class="sub">Revolut</p>
                                </div>
                            </div>
                            <div class="flex flex-col items-end">
                                <div class="flex flex-row space-x-1 items-center">
                                    <p class="danger">-</p>
                                    <p>&euro; 14.99</p>
                                </div>
                                <p class="sub">26 ott, 14:02</p>
                            </div>
                        </div>
                    </div>
                </ng-template>
            </box-layout>
        </div>
        <div class="flex flex-col space-y-5 w-full">
            <box-layout title="Ultime transazioni">
                <ng-template #header>
                    <go-button message="Inserisci" icon="ri-add-line" size="mid"></go-button>
                </ng-template>
                <ng-template #body>
                    <div class="flex flex-col space-y-5 w-full">
                        <div class="flex flex-row justify-between w-full">
                            <div class="flex flex-row items-center space-x-5">
                                <div class="brands bg-[url('/brands/spotify.svg')]"></div>
                                <div>
                                    <p>Spotify</p>
                                    <p class="sub">Revolut</p>
                                </div>
                            </div>
                            <div class="flex flex-col items-end">
                                <div class="flex flex-row space-x-1 items-center">
                                    <p class="danger">-</p>
                                    <p>&euro; 14.99</p>
                                </div>
                                <p class="sub">26 ott, 14:02</p>
                            </div>
                        </div>
                        <hr>
                        <div class="flex flex-row justify-between w-full">
                            <div class="flex flex-row items-center space-x-5">
                                <div class="brands bg-[url('/brands/amazon.svg')]"></div>
                                <div>
                                    <p>Amazon</p>
                                    <p class="sub">Revolut</p>
                                </div>
                            </div>
                            <div class="flex flex-col items-end">
                                <div class="flex flex-row space-x-1 items-center">
                                    <p class="danger">-</p>
                                    <p>&euro; 14.99</p>
                                </div>
                                <p class="sub">26 ott, 14:02</p>
                            </div>
                        </div>
                        <hr>
                        <div class="flex flex-row justify-between w-full">
                            <div class="flex flex-row items-center space-x-5">
                                <div class="brands bg-[url('/brands/netflix.svg')]"></div>
                                <div>
                                    <p>Netflix</p>
                                    <p class="sub">Revolut</p>
                                </div>
                            </div>
                            <div class="flex flex-col items-end">
                                <div class="flex flex-row space-x-1 items-center">
                                    <p class="danger">-</p>
                                    <p>&euro; 14.99</p>
                                </div>
                                <p class="sub">26 ott, 14:02</p>
                            </div>
                        </div>
                        <hr>
                        <div class="flex flex-row justify-between w-full">
                            <div class="flex flex-row items-center space-x-5">
                                <div class="brands bg-[url('/brands/netflix.svg')]"></div>
                                <div>
                                    <p>Netflix</p>
                                    <p class="sub">Revolut</p>
                                </div>
                            </div>
                            <div class="flex flex-col items-end">
                                <div class="flex flex-row space-x-1 items-center">
                                    <p class="danger">-</p>
                                    <p>&euro; 14.99</p>
                                </div>
                                <p class="sub">26 ott, 14:02</p>
                            </div>
                        </div>
                    </div>
                </ng-template>
            </box-layout>

            <box-layout title="Trend">
                <ng-template #header>
                    <div class="flex flex-row space-x-3">
                        <go-button message="2022" size="mid" [outline]="true"></go-button>
                        <go-button message="2023" size="mid" [outline]="true"></go-button>
                        <go-button message="2024" size="mid" [outline]="true"></go-button>
                        <go-button message="Max" size="mid"></go-button>
                    </div>
                </ng-template>
                <ng-template #body>
                    <apx-chart
                            class="w-full"
                            [series]="chartOptions.series"
                            [chart]="chartOptions.chart"
                            [xaxis]="chartOptions.xaxis"
                            [title]="chartOptions.title"
                    ></apx-chart>
                </ng-template>
            </box-layout>
        </div>
    </div>
</div>

